.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  -webkit-column-gap: 0.7em;
    column-gap: 0.7em;
    margin-bottom: 15px;
    column-count: 4;
}

.live-img {
  position: fixed;
  left: -1000px;
  opacity: 0;
  transition: 200ms;
  top: 20%;
  max-width: 80vw;
}

.live-img .img-container {
  border: 10px solid white;
  border-radius: 15px;
}

.live-img img {
  min-width: 35vw;
}

.active { 
  opacity: 1;
  left: 100px;
}